html, body {
  margin: 0;
  height: 100%;
}

.pistons{
    position: relative;
    bottom: 626px;
    color: white;
    display: flex;
    width: 600px;
    justify-content: center;
    background-color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p, text {
    font-size: 0.85em;
}
svg {
    background: #d7073b;
}